
.ipynb_checkpoints
Steps
glove.6B.100d.txt
glove.6B.100d.txt.word2vec
GoogleNews-vectors-negative300.bin.gz
glove.6B.100d.txt.zip
GoogleNews-vectors-negative300.bin/GoogleNews-vectors-negative300.bin
